// @see https://www.google.com/design/spec/style/color.html
$primary-color: $blue-grey !default;
$accent-color: $blue !default;

$base-background-color: color($primary-color, 50) !default;
$base-font-color:       color($grey, 800) !default;
$base-font-family:      system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Segoe UI, "Lucida Grande", Arial, sans-serif;
$base-font-size:        13px !default;
$navigation-width:      170px !default;
$transition-timing:     cubic-bezier(0.25, 0.8, 0.25, 1) !default;
