$filter-label-color: color($blue-grey, 700);

#filters_sidebar_section {
  .filter_form_field {
    @include clearfix;
    margin-bottom: 1em;
  }

  label {
    color: $filter-label-color;
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  .filter_select {
    select {
      width: 100%;
    }
  }

  .select_and_search {
    select {
      float: left;
      width: 40%;
    }

    input {
      float: left;
      margin-left: 5%;
      width: 55%;
    }
  }
}

#search_status_sidebar_section {
  h4 {
    color: $filter-label-color;
    font-weight: bold;
  }
}
