$alert-background-color: rgba(color($red, 700), 0.8);
$alert-text-color: $white;
$notice-background-color: rgba(color($accent-color, 600), 0.9);
$notice-text-color: $white;

@include keyframes(flash-up) {
  0% {
    @include transform(translateZ(0) translate3d(0, 100%, 0));
  }

  5% {
    @include transform(translateZ(0) translate3d(0, 0, 0));
  }

  95% {
    @include transform(translateZ(0) translate3d(0, 0, 0));
  }

  100% {
    @include transform(translateZ(0) translate3d(0, 100%, 0));
  }
}

.flashes {
  @include transform(translateZ(0) translate3d(0, 100%, 0));
  bottom: 0;
  font-size: 1.6em;
  left: $navigation-width;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1000;

  &.animate {
    @include animation(flash-up 6s 1);
  }
}

.flash_alert,
.flash_error {
  background-color: $alert-background-color;
  color: $alert-text-color;
  padding: ($base-font-size + 2px) ($base-font-size * 2);
  text-shadow: 0 1px 1px darken($alert-background-color, 20%);
}

.flash_notice {
  background-color: $notice-background-color;
  color: $notice-text-color;
  padding: ($base-font-size + 2px) ($base-font-size * 2);
  text-shadow: 0 1px 1px darken($notice-background-color, 20%);
}
