$error-color: $red;
$label-font-color: color($grey, 800);
$label-font-color-focused: color($accent-color, 700);
$input-border-color: $grey;
$input-border-color-focused: $accent-color;
$input-font-color: $grey;
$input-font-color-focused: color($grey, 800);
$input-placeholder-color: $grey;
$input-required-color: color($accent-color, 400);
