.dropdown_menu_button {
  @include button;

  &:after {
    content: "\f0d7";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 0.9em;
    margin-left: 5px;
  }
}

.dropdown_menu_list {
  background-color: $white;
  box-shadow: 0 1px 3px rgba($black, 0.4);
  float: left;
  list-style-type: none;
  margin: -2px 0 0;
  padding: 0;
  position: absolute;
  z-index: 10;

  a {
    color: $base-font-color;
    display: block;
    padding: 1em;
    text-decoration: none;

    &:hover {
      background-color: $base-background-color;
      color: $base-font-color;
    }

    &:active,
    &.active {
      background-color: $accent-color;
      color: text-color($accent-color);
    }
  }
}
