$fieldset-legend-color: color($blue-grey, 700);

fieldset.inputs,
fieldset.actions {
  border: 0;
  display: block;
  margin: 1em 0 0;
  padding: 0;

  legend {
    color: $fieldset-legend-color;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0 0 -1.35em;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    top: -1.35em;
  }

  ol {
    list-style-type: none;
    padding: 0;
  }
}
