$panel-heading-color: color($blue-grey, 700);

form,
.paginated_collection,
.panel {
  background-color: $white;
  box-shadow: 0 1px 2px rgba($black, 0.2);
  margin-bottom: 2em;
  padding: 2em 2em 1em;

  form {
    box-shadow: none;
    margin-bottom: 1em;
    padding: 0;
  }

  .paginated_collection {
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
  }

  h3 {
    color: $panel-heading-color;
    font-size: 1.17em;
    margin: -0.5em 0 1em;
    padding: 0;
    text-transform: uppercase;
  }
}

@include media($mobile) {
  form,
  .panel {
    padding: 2em 1em 1em;
  }
}
