@import "intl-tel-input";

.input.phone.stringish {
  position: relative;
  z-index: 2;

  .intl-tel-input {
    width: 100%;

    input {
      padding-left: 44px;

      @include placeholder {
        color: transparent;
      }
    }
  }

  .flag-dropdown {
    padding: 0;
    top: -7px;
  }

  &.blank .flag-dropdown {
    opacity: 0;
  }

  &.focused .flag-dropdown {
    opacity: 1;
  }
}
