//= require pikaday

.pikaday-wrapper {
  @include clearfix;

  input {
    display: none;
  }

  .pika-single {
    float: left;
    z-index: 1;

    button {
      background-color: transparent;
      box-shadow: none;
      text-shadow: none;
    }

    .pika-next,
    .pika-prev {
      background-color: transparent;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
    }

    .pika-prev {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
    }

    .pika-day {
      background-color: #f5f5f5;
      background-image: none;
      border-radius: 0;

      &:hover {
        background-color: #8b9297;
        background-image: none;
      }

      &:active,
      &.active {
        background-image: none;
      }
    }

    .is-selected .pika-day {
      background-color: #33aaff;
    }
  }

  .inline-errors {
    clear: both;
  }

  th {
    background: none;
  }
}
