@import "codemirror";
@import "summernote";
@import "summernote-bs3";

$summernote-border-color: #f1f1f1;
$summernote-border-color-active: #e7e7e7;
$summernote-toolbar-background-color: #f7f7f7;

.input.summernote {
  margin-bottom: 2em;
  position: relative;

  .panel.note-editor {
    background: $white;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    margin: 0;
    padding: 0;

    .btn {
      background-image: none;
      border-radius: 3px;
      box-shadow: none;
      height: auto;
      line-height: normal;
      text-shadow: none;
    }

    > div {
      padding: 0;
    }

    .note-fontsize .dropdown-menu {
      max-height: 200px;
      overflow: auto;
    }

    label {
      width: auto;
    }

    .modal.in {
      background-color: rgba(#000, 0.5);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 999;
    }

    .note-dialog {
      button.close {
        background-color: transparent;
        background-image: none;
        border: 0;
        box-shadow: none;
      }
    }

    .note-editable {
      background-color: $white;
      max-height: 95%;

      ol {
        list-style-type: decimal;
        padding-left: 2em;
      }

      ul {
        list-style-type: disc;
        padding-left: 2em;
      }
    }

    .note-toolbar {
      background-color: $summernote-toolbar-background-color;
      border: 1px solid $summernote-border-color;
      border-bottom: 0;
      border-radius: 0;
      padding: 10px 15px;

      a {
        text-decoration: none;
      }

      .note-color-btn {
        background-image: none;
      }
    }

    .note-statusbar {
      border: 1px solid $summernote-border-color;
      border-top: 0;
      padding-bottom: 1px;
    }
  }

  .note-editing-area {
    border: 1px solid $summernote-border-color;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  label {
    color: $label-font-color;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
    width: 100%;

    abbr {
      @include transition(opacity 50ms $transition-timing);
      border-bottom: 0;
      color: $input-required-color;
      margin-left: 2px;
      opacity: 0.5;
    }
  }

  .inline-errors {
    border-top: 1px solid $error-color;
    color: $error-color;
    display: block;
    margin-top: 0;
    padding-top: 3px;
  }

  &.focused {
    label {
      color: $label-font-color-focused;
      font-weight: 500;

      abbr {
        opacity: 0.8;
      }
    }

    .panel.note-editor {
      .note-toolbar,
      .note-editing-area,
      .note-statusbar {
        border-color: $summernote-border-color-active;
      }
    }

    .note-editing-area {
      position: relative;
    }
  }

  // Required for proper scrolling
  .CodeMirror-scroll {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    pre {
      word-wrap: normal;
    }
  }

  // Hide double scrollbars (OS X problem only??)
  // TODO: Figure out whether this is ok on other platforms
  .CodeMirror-hscrollbar,
  .CodeMirror-vscrollbar {
    display: none !important;
  }
}

.modal-backdrop.in {
  display: none;
}
