.input.text:not(.filter_form_field) {
  margin-bottom: 2em;
  position: relative;

  label {
    color: $label-font-color;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
    width: 100%;

    abbr {
      @include transition(opacity 50ms $transition-timing);
      border-bottom: 0;
      color: $input-required-color;
      margin-left: 2px;
      opacity: 0.5;
    }
  }

  .inline-errors {
    color: $error-color;
    left: 0;
    margin: 3px 0 0;
    position: absolute;
    top: 100%;
  }

  textarea {
    border: 1px solid $grey;
    border-radius: 2px;
    display: block;
    height: 160px;
    outline: none;
    padding: 0.5em;
    width: 100%;
  }

  &.focused {
    label {
      color: $label-font-color-focused;
      font-weight: 500;

      abbr {
        opacity: 0.8;
      }
    }

    textarea {
      border: 2px solid $accent-color;
    }
  }
}
